:root {
    font-family: Helvetica;
    font-size: 14px;
}

* {
    font: inherit;
}

#meme-canvas {
    width: 300px;
}
#top-text{
  max-width: 15em;
  max-height: 4em;
}
#bottom-text{
  max-width: 15em;
  max-height: 4em;
}
